.header-wrapper {
  background-color: #fff;
  position: fixed;
  width: 100%;
}

.chats-body {
  padding: 0;
}
.chat-screen {
  min-height: 1000vh;
  padding-top: 100px;
}

.chat__write-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px 16px 8px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-top: 1px solid #e5e5e5; */
}

@keyframes float {
  0% {
    transform: translateY(-40px);
    box-shadow: 0 0 16px 0 rgba(97, 85, 85, 0.16);
    }
  50%{
    transform: translateY(-50px);
    box-shadow: 0 0 16px 0 rgba(97, 85, 100, 0.3);
  }
  100%{
    transform: translateY(-40px);
    box-shadow: 0 0 16px 0 rgba(97, 85, 85, 0.16);
  }
}

input:focus {
  outline: none;
  width: 80%;
  transform: translateY(-40px);
  border-radius: 50px;
  box-shadow: 0 0 16px 0 rgba(97, 85, 85, 0.16);
  animation: float 2s linear infinite forwards;
}

input:focus ~ .chat__icon {
  opacity: 0;
}

input {
  padding: 13px 16px;
  width: 100%;
  /* border: 1px solid #e5e5e5; */
  /* border-radius: 50px; */
  font-size: 12px;
  transition: width 0.5s ease-in, box-shadow 0.5s ease-in,
  border-radius: 0.5s ease-in;
}

.chat__icon {
  position: absolute;
  left: 16px;
  margin-right: 8px;
  transition: opacity 0.3s ease-in-out;
}

.input-button {
  position: relative;
  font-size: 12px;
  border: none;
  width: 64px;
}

/* chat__balloon */
.chat-screen .chat__balloon {
  background-color: fff;
  padding: 8px 14px;
  box-shadow: 0 0 16px 0 rgba(97, 85, 85, 0.16);
  border-radius: 8px;
  font-size: 14px;
}

.chat-screen .chat__timestamp {
  font-size: 12px;
  margin-top: 8px;
  text-align: center;
  color: #888;
}


@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.friend__column img {
  animation: spin 1s linear delay infinite;
}

/* friend */
.chat-screen .chat__frerind {
  display: flex;
  align-items: start;
  justify-content: flex-start;
}

.chat-screen .friend__column-balloon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8px;
}


/* me */
.chat__my-balloon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* 여기서 왜 block 현상일까? */
}

.chat__my-message {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

@keyframes incomingAnimation {
  from{
    transform: translateX(-60px);
    opacity: 0;
  }
  to{
    transform: none;
    opacity: 1;
  }
}

.friend {
animation: incomingAnimation 1s ease-out forwards;
}

@keyframes sentAnimation {
  from{
    transform: translateX(+60px);
    opacity: 0;
  }
  to{
    transform: none;
    opacity: 1;
  }
}

.chat__my-balloon {
  /* forwards는 value를 유지하게 해준다 */
  animation: incomingAnimation 1s ease-out forwards;
}

