.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 40px;
  border-radius: 50%;
}

.g-avatar.friend__avatar {
  width: 56px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__content {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
/* .friend__content .friend__name {
    display:block;
} */

.friend {
  padding: 8px 16px;
}

.friend .friend__name {
  font-size: 14px;
}

.friend .friend__bottom-text {
  font-size: 12px;
  color: #9999;
}

.friend .friend__status {
  font-size: 14px;
  color: #9999;
}

.friend .firend__timestamp {
  font-size: 12px;
  color: #9999;
}

.friend__title {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
  padding: 0 16px;
}

.firend-lg {
  margin-bottom: 32px;
}

.friends .friend__plus {
  margin-bottom: 24px;
}
