.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 40px;
  border-radius: 50%;
}

.g-avatar {
  width: 56px;
  border-radius: 50%;
}

.friend__avatar.g-avatar {
  /*width: 40px;*/
}
