.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.friend .friend__avatar {
  width: 40px;
  border-radius: 50%;
}

.g-avatar.friend__avatar {
  width: 56px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__content {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
/* .friend__content .friend__name {
    display:block;
} */

.friend .friend__bottom-text,
.friend .firend__timestamp {
  font-size: 12px;
}

.friend .friend__name,
.friend .friend__status {
  font-size: 14px;
}

.friend .friend__bottom-text,
.friend .firend__timestamp,
.friend .friend__status {
  color: #9999;
}

.friend__plus .friend__title,
.friends__list .friend__title {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
  padding: 0 16px;
}

.firend-lg {
  margin-bottom: 32px;
}

.friends .friend__plus {
  margin-bottom: 24px;
}

.friend .friend__now-listening {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  width: 66px;
  height: 32px;
  /* 폰트 자체가 하단 마진을 좀더 먹어서 수정 패딩 수정 */
  padding: 10px 7px 11px 7px;
  border-radius: 4px;
}
