.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.header .header__title {
  font-size: 16px;
  font-weight: 700;
}

.header .header__icons {
  margin-left: 8px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  margin-left: 16px;
}
